# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

.idea/
vendor//public/packs
/public/packs-test
/public/packs
/public/assets
/node_modules
yarn-debug.log*
.yarn-integrity

vendor/bundle
